<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 class="top-container mb-5 mt-5">вӯҗпёҸ гҒ„гҒ„гҒӯдёҖиҰ§ вӯҗпёҸ </h1>
    </div>
  </div>
  <div class="row">
    <% @liked_reviews.each do |review| %>
      <div class="col-md-4 mb-4">
        <%= link_to review_path(review), class: "card-link" do %>
          <div class="card h-100 hover-card">
            <%= image_tag review.photo_url.url, class: "card-img-top", alt: review.gummy_name %>
            <div class="card-body">
              <h5 class="card-title text-center fw-bold fs-4"><%= review.gummy_name %></h5>
              <p class="card-text text-center fw-bold fs-4"><%= display_star_rating(review.rating) %></p>
              <p class="card-text">рҹ’ҡ гғЎгғјгӮ«гғјвҹЎкҷі <%= review.manufacturer_name %></p>
              <p class="card-text">рҹ©ө гғ•гғ¬гғјгғҗгғјвҹЎкҷі <%= review.flavor %></p>
              <p class="card-text">рҹ©· з”ҳгҒ•вҹЎкҷі <%= review.sweetness_label %></p>
              <p class="card-text">рҹ’ӣ й…ёе‘івҹЎкҷі <%= review.sourness_label %></p>
              <p class="card-text">рҹ©¶ зЎ¬гҒ•вҹЎкҷі <%= review.hardness_label %></p>
              <p class="card-text text-center">рҹҢҹрҹ’ңи©ізҙ°гҒҜгӮҜгғӘгғғгӮҜрҹ’ңрҹҢҹ</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
      <div class="d-flex justify-content-center fw-bold fs-5 mt-4 mb-4">
        <%= paginate @liked_reviews %>
      </div>
  </div>
</div>
