<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 class="mb-4">вӯҗпёҸгҒ„гҒ„гҒӯгҒ—гҒҹгӮ°гғҹдёҖиҰ§вӯҗпёҸ</h1>
    </div>
  </div>
  <div class="row">
    <% @liked_reviews.each do |review| %>
      <div class="col-md-4 mb-4">
        <%= link_to review_path(review), class: "card-link" do %>
          <div class="card h-100">
            <%= image_tag review.photo_url.url, class: "card-img-top", alt: review.gummy_name %>
            <div class="card-body">
              <h5 class="card-title text-center"><%= review.gummy_name %></h5>
              <p class="card-text text-center">з·ҸеҗҲи©•дҫЎпјҡ<%= display_star_rating(review.rating) %></p>
              <p class="card-text">рҹ’ҡгғЎгғјгӮ«гғјпјҡ<%= review.manufacturer_name %></p>
              <p class="card-text">рҹ©өгғ•гғ¬гғјгғҗгғјпјҡ<%= review.flavor %></p>
              <p class="card-text">рҹ©·з”ҳгҒ•пјҡ<%= review.sweetness_label %></p>
              <p class="card-text">рҹ’ӣй…ёе‘іпјҡ<%= review.sourness_label %></p>
              <p class="card-text">рҹ©¶зЎ¬гҒ•пјҡ<%= review.hardness_label %></p>
              <p class="card-text text-center">рҹҢҹрҹ’ңи©ізҙ°гҒҜгӮҜгғӘгғғгӮҜрҹ’ңрҹҢҹ</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
