<header class="header">
  <div class="header-container">
    <!-- ロゴ -->
    <h1 class="header-logo">
      <%= link_to root_path do %>
        <%= image_tag '530F18F2-5BFD-4749-99FE-214D183EAD4B.png', class: 'header-logo-image'  %>
      <% end %>
    </h1>
    <!-- ナビゲーション -->
    <nav class="header-nav">
      <%= link_to "グミ一覧　", reviews_path %>
      <%= link_to "グミ投稿", new_review_path %>
      <%= link_to "　いいねしたグミ", likes_path %>
      <%= link_to "　ログアウト", logout_path, data: { turbo_method: :delete } %>
    </nav>
  </div>
</header>
