<header class="header">
  <div class="header-container">
    <!-- ロゴ -->
    <h1 class="header-logo">
      <%= link_to "Gummy Review", root_path %>
    </h1>
    <!-- ナビゲーション -->
    <nav class="header-nav">
      <%= link_to "グミ一覧", "#" %>
      <%= link_to "投稿する", "#" %>
      <%= link_to "マイページ", "#" %>
      <%= link_to "ログアウト", "#", data: { turbo_method: :delete } %>
      <%= link_to "ログイン", "#" %>
      <%= link_to "新規登録", "#" %>
    </nav>
  </div>
</header>
