<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
          <!-- ここに検索フォームを追加 -->
      <%= search_form_for @q, url: reviews_path do |f| %>
        <div style="display: flex; gap: 10px;">
          <!-- テキスト入力 -->
          <%= f.search_field :gummy_name_cont, placeholder: "グミの名前" %>
          <%= f.search_field :flavor_cont, placeholder: "フレーバー" %>

          <!-- プルダウン -->
          <%= f.select :sweetness_eq, [["甘くない", 1], ["甘さ控えめ", 2], ["甘い", 3], ["少し甘い", 4], ["とても甘い", 5]], include_blank: "甘さは？" %>
          <%= f.select :sourness_eq, [["酸っぱくない", 1], ["酸っぱさ控えめ", 2], ["酸っぱい", 3], ["少し酸っぱい", 4], ["とても酸っぱい", 5]], include_blank: "酸っぱさは？" %>
          <%= f.select :hardness_eq, [["とてもソフト", 1], ["ソフト", 2], ["普通", 3], ["ハード", 4], ["とてもハード", 5]], include_blank: "硬さは？" %>
          <%= f.submit "検索", class: "btn custom-btn" %>
        </div>
      <% end %>
      <h1 class="top-container mb-5 mt-5">⭐️グミ一覧⭐️</h1>
    </div>
  </div>
  <div class="row">
    <% @reviews.each do |review| %>
      <div class="col-md-4 mb-4">
        <%= link_to review_path(review), class: "card-link" do %>
          <div class="card h-100">
            <%= image_tag review.photo_url.url, class: "card-img-top", alt: review.gummy_name %>
            <div class="card-body">
              <h5 class="card-title text-center"><%= review.gummy_name %></h5>
              <p class="card-text text-center">総合評価：<%= display_star_rating(review.rating) %></p>
              <p class="card-text">💚メーカー：<%= review.manufacturer_name %></p>
              <p class="card-text">🩵フレーバー：<%= review.flavor %></p>
              <p class="card-text">🩷甘さ：<%= review.sweetness_label %></p>
              <p class="card-text">💛酸味：<%= review.sourness_label %></p>
              <p class="card-text">🩶硬さ：<%= review.hardness_label %></p>
              <p class="card-text text-center">🌟💜詳細はクリック💜🌟</p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <%= paginate @reviews %>
  </div>
</div>
