<div class="container pt-3">
  <div class="row">
    <div class="col-lg-10 offset-lg-1">
      <h1 class="top-container mb-4">⭐️<%= @review.gummy_name %>⭐️</h1>
        <div class="card custom-card">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <%= image_tag @review.photo_url.url, class: "img-fluid", alt: @review.gummy_name %>
            </div>
            <% @review.main_images.each do |main_image| %>
              <div class="col-md-4">
                <%= image_tag main_image.image.url, class: "img-fluid", alt: @review.gummy_name %>
              </div>
            <% end %>
          </div>
          <!-- テキスト部分 -->
          <div class="card-body">
            <p class="text-center fw-bold">総合評価：<%= display_star_rating(@review.rating) %></p>
            <p class="fw-bold">💚メーカー：<%= @review.manufacturer_name %></p>
            <p class="fw-bold">🩵フレーバー：<%= @review.flavor %></p>
            <p class="fw-bold">🩷甘さ：<%= @review.sweetness_label %></p>
            <p class="fw-bold">💛酸味：<%= @review.sourness_label %></p>
            <p class="fw-bold">🩶硬さ：<%= @review.hardness_label %></p>
            <div class="card">
              <p class="fw-bold">⭐グミの特徴⭐</p><%= @review.comment %>
            </div>
            <div class="card-footer text-muted">
              <p>投稿者：<%= @review.user.nickname %></p>
              <p>投稿日：<%= @review.created_at.strftime("%Y年%m月%d日") %></p>
            </div>
              <% if current_user && current_user == @review.user %>
                <div class="text-end mt-3">
                  <%= link_to "編集", edit_review_path(@review), class: "btn btn-edit" %>
                  <%= link_to "削除", review_path(@review), data: { turbo_method: :delete, turbo_confirm: t('defaults.delete_confirm') } , class: "btn btn-delete" %>
                </div>
              <% end %>
              <% if logged_in? %>
                <% if current_user.likes.exists?(review: @review) %>
                  <%= button_to "❤️ #{@review.likes.count} いいね解除", review_like_path(@review), method: :delete, class: "btn btn-outline-danger" %>
                <% else %>
                  <%= button_to "🤍 #{@review.likes.count} いいね", review_like_path(@review), method: :post, class: "btn btn-danger" %>
                <% end %>
              <% end %>
                <div class="d-flex justify-content-center mt-3 gap-5">
                  <%= link_to "https://x.com/intent/tweet?url=#{review_url(@review)}&text=#{@review.gummy_name}が美味しいらしい！#GummyReview", class: "fs-2", target: "_blank" do %>
                    <i class="bi bi-twitter" style="color: #1DA1F2;"></i>
                  <% end %>

                  <%= link_to "https://social-plugins.line.me/lineit/share?url=#{review_url(@review)}", class: "fs-2
                  ", target: "_blank" do %>
                    <i class="bi bi-line" style="color: #06C755;"></i>
                  <% end %>
                </div>
              <% if logged_in? %>
                <%= render 'comments/form', comment: @comment, review: @review %>
                  <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                      <table class="table">
                        <tbody id="table-comment">
                          <%= render partial: 'comments/comment', collection: @comments, locals: { review: @review } %>
                        </tbody>
                      </table>
                    </div>
                 </div>
              <% end %>
            </div>
          </div>
        </div>
       <div class="text-center mt-3">
        <%= link_to "グミ一覧に戻る", reviews_path, class: "btn custom-btn" %>
       </div>
      </div>
    </div>
  </div>
</div>
