<!DOCTYPE html>
<html>
  <head>
    <title>GummyReview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if @review.present? %>
      <meta property="og:title" content="グミ好きさんに送る<%= @review.gummy_name %>が美味しいらしい！#GummyReview">
      <meta property="og:description" content="<%= @review.comment %>">
      <meta property="og:image" content="<%= @review.photo_url.url(expires_in: 5.weeks) if @review.photo_url.present? %>">
      <meta property="og:url" content="<%= request.original_url %>">
    <% end %>

    <%= javascript_importmap_tags %>

    <!-- Bootstrap Icons を追加 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- Bootstrap JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <% if logged_in? %>
      <%= render "shared/header" %>
    <% else %>
      <%= render "shared/before_login_header" %>
    <% end %>
    <%= render 'shared/flash_message' %>
    <main class="<%= current_page?(root_path) ? 'top-page' : 'page-container' %>">
      <%= yield %>
    </main>

    <%= render "shared/footer" %>
  </body>
</html>
